

#Overskrift{
    position: relative;
    left: 4em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: transparent; 
    text-shadow: 2px 2px 2px rgb(215, 201, 201);
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, hsl(253, 97%, 50%), hsl(0, 94%, 49%)); 
    -webkit-background-clip: text; 
    background-clip: text; 
}


body{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to right, hsl(240, 20%, 10%), hsl(270, 60%, 12%), hsl(300, 50%, 15%), hsl(330, 70%, 10%));
    border: 6px solid rgb(9, 9, 9);
    gap: 2em;
    margin: 0;
    border-radius: 4em;
    overflow: hidden;
    
}

#StartGame{
    background: linear-gradient(to right, #bb4dbb, #c71414);
    color:rgb(246, 242, 242);
    font-weight: bold;
    height: 4em;

    
}

#game-container{
    background: linear-gradient(to right, hsl(296, 95%, 44%), hsl(253, 96%, 29%), hsl(0, 97%, 41%));
    background-size: 300% 300%;
    animation: gradientWave 8s infinite alternate ease-in-out;
    border-radius: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23%; 
    border: 6px solid hsl(0, 0%, 3%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes gradientWave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#Kurv{
    font-size: 5em;
    position: absolute;
    bottom: 10px;
    width: 85px;
    height: 90px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji{
    position: absolute;
    top:0;
    font-size: 2em;
    animation: fall 6s linear infinite;
}

@keyframes fall{
    to{
        transform: translateY(100vh);
    }
}

.Poeng{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(236, 229, 229);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 1em;
}
    
.modal{
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(5, 4, 4); 
    background-color: rgba(9, 9, 9, 0.4); 
}



.modal-content{
    background: linear-gradient(to right, hsl(295, 100%, 69%), #4b9ce8);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 10px;
}

#openInputModal{
    position: relative;
    z-index: 100;
    background: linear-gradient(to right, hsl(253, 93%, 47%), hsl(0, 49%, 49%), hsl(253, 38%, 26%));
    color:white;
    font-family: 'Courier New', Courier, monospace;
    right: 35em;
    margin-top: 1em;

   

}


.close{
    color: #dbcccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#StartGameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;  
    position: absolute; 
    top: 0;
    left: 0;
}

#StartGame{
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    background: linear-gradient(to left, hsl(295, 96%, 37%), #0a0202, #d70e0e);
    color: white;
    cursor: pointer;
    padding: 10px 20px; 
    border: 1px solid hsl(223, 86%, 42%);
}



#StartGame:hover{
    background: linear-gradient(to right, #0c0c0c, #bb0303);
    box-shadow: 0 0 10px 5px #bb0303;
}

#openInputModal:hover{
    background: linear-gradient(to right, #070707, #d70e0e);
    box-shadow: 0 0 10px 5px #d70e0e;
}




#game-message{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: linear-gradient(to left top, hsl(247, 73%, 61%), #1ecb9a, #d8166a);
    color: white;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    animation: explosion 1s ease-in-out;
    box-shadow: 0 0 10px 5px #060606;
}

@keyframes explosion {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

