body{
    background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e, #fad0c4, #fad0c4);
}

#ContainerInstruction{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Instructions{
    font-family:monospace;
    font-size: large;
    margin: 5em;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #faf5f5;
    text-align: center;
    box-shadow: 0 0 10px 5px #d70e0e;
    width: 50%;
}

#How_to{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: transparent; 
    text-shadow: 2px 2px 2px rgb(215, 201, 201);
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, hsl(253, 97%, 50%), hsl(0, 94%, 49%)); 
    -webkit-background-clip: text; 
    background-clip: text; 
   
}

#Knapp{
    font-weight: bold;
    font-family:monospace;

}

.instructions h2 {
    text-align: center;
    color: #333;
}
.instructions p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;

}

h1{
    text-align: center;

}

footer{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

button{
    background: linear-gradient(to right, #ffecd2, #fcb69f, #ff9a9e, #fad0c4, #fad0c4);
    box-shadow: 0 0 10px 5px #d70e0e;
    margin: 2em;
    cursor: pointer;
}

button:hover{
    background:red;
    box-shadow: 0 0 10px 5px #d70e0e;
}



